<div class="fixed">
  <nav class="top-bar sfc-top-bar" data-topbar role="navigation" data-options="sticky_on: large">
    <ul class="title-area">
      <li class="name">
        <a class="" href="//www.sfchronicle.com">
          <img src="http://www.sfchronicle.com/img/modules/siteheader/logos/logo_section_large_2x.png" alt="">
        </a>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="left" id="sfc-stories">
        <li><a class="sfc-history" data-chapter-id="1" href="#1">Story 1</a></li>
        <li><a class="sfc-history" data-chapter-id="2" href="#2">Story 2</a></li>
        <li><a class="sfc-history" data-chapter-id="3" href="#3">Story 3</a></li>
        <li><a class="sfc-history" data-chapter-id="4" href="#4">Story 4</a></li>
        <li><a class="sfc-history" data-chapter-id="5" href="#5">Story 5</a></li>
      </ul>

      <ul class="right">
        <li><a href="#" class="sfc-twitter-button"><i class="fa fa-twitter"></i> Twitter</a></li>
        <li><a class="sfc-facebook-button"><i class="fa fa-facebook"></i> Facebook</a></li>
        <li class="divider"></li>
        <li><a href=""><i class="fa fa-envelope"></i> Email</a></li>
      </ul>
    </section>
  </nav>
</div>
