<div class="fixed">
  <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
    <ul class="title-area">
      <li class="name">
        <h1><a href="">SF Chronicle</a></h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="left" id="sfc-stories">
        <li><a href="">Airbnb</a></li>
        <li class="divider"></li>
        <li><a class="sfc-history" data-headline="mainbar" data-bg-image="" href="/#1">Mainbar</a></li>
        <li><a class="sfc-history" data-headline="rentals" data-bg-image="" href="/#2">Frequent Rentals</a></li>
        <li><a class="sfc-history" data-headline="superhosts" data-bg-image="" href="/#3">Superhosts</a></li>
        <li><a class="sfc-history" data-headline="churn" data-bg-image="" href="/#4">Churn</a></li>
      </ul>

      <ul class="right">
        <li><a href=""><i class="fa fa-envelope"></i> Email</a></li>
        <li><a href=""><i class="fa fa-share"></i> Share</a></li>
      </ul>
    </section>
  </nav>
</div>
