<div class="fixed">
  <nav class="top-bar sfc-top-bar" data-topbar role="navigation" data-options="sticky_on: large">
    <ul class="title-area">
      <li class="name">
        <h1><a href="">SF Chronicle</a></h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="left" id="sfc-stories">
        <li><a class="sfc-history" data-chapter-id="1" href="#1">Mainbar</a></li>
        <li><a class="sfc-history" data-chapter-id="2" href="#2">Frequent Rentals</a></li>
        <li><a class="sfc-history" data-chapter-id="3" href="#3">Superhosts</a></li>
        <li><a class="sfc-history" data-chapter-id="4" href="#4">Churn</a></li>
      </ul>

      <ul class="right">
        <li><a href=""><i class="fa fa-envelope"></i> Email</a></li>
        <li><a href=""><i class="fa fa-share"></i> Share</a></li>
      </ul>
    </section>
  </nav>
</div>
