<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    {% block head %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
  </head>
  <body class="{% if config.DEBUG %}debug{% endif %}">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    {% block content %}{% endblock %}

    <!-- vendor -->
    <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/jquery-scrollto/src/documents/lib/jquery-scrollto.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/history.js/scripts/bundled-uncompressed/html4+html5/jquery.history.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/ajaxify/ajaxify-html5.js') }}"></script>

    <script src="{{ url_for('static', filename='bower_components/underscore/underscore.js') }}"></script>

    <script src="{{ url_for('static', filename='bower_components/d3/d3.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/d3-plugins/geo/tile/tile.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/topojson/topojson.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/togeojson/togeojson.js') }}"></script>

    <!-- endvendor -->

    <!-- project -->
    <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
    {% block javascript %}{% endblock %}
    <!-- endproject -->

    {% if config.DEBUG %}
    <script>document.write('<script src="http://'
        + location.host.split(':')[0]
        + ':35729/livereload.js"></'
        + 'script>')</script>
    {% endif %}
</body>
</html>
