<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    {% block head %}{% endblock %}
    {% assets filters="cleancss", output="build/main.%(version)s.css",
        'styles/main.css' %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
  </head>
  <body class="{% if config.DEBUG %}debug{% endif %}">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    {% block content %}{% endblock %}

    <script src="{{ url_for('static', filename='bower_components/modernizr/modernizr.js') }}"></script>
    <script src="//www.sfchronicle.com/js/jquery-1.8.1.min.js"></script>
    {% assets filters="uglifyjs", output="build/vendor.%(version)s.js",
        'bower_components/handlebars/handlebars.js',
        'bower_components/unveil/jquery.unveil.js',
        'bower_components/slicknav/dist/jquery.slicknav.js',
        'bower_components/underscore/underscore.js',
        'bower_components/jquery-scrollto/src/documents/lib/jquery-scrollto.js',
        'bower_components/history.js/scripts/bundled-uncompressed/html4+html5/jquery.history.js',
        'bower_components/ajaxify/ajaxify-html5.js',
        'bower_components/d3/d3.js',
        'bower_components/d3-plugins/geo/tile/tile.js',
        'bower_components/d3-tip/index.js',
        'bower_components/d3-colorlegend/colorlegend.js',
        'bower_components/topojson/topojson.js' %}
    <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <!-- project -->
    {% assets filters="uglifyjs", output="build/production.%(version)s.js",
        'scripts/main.js' %}
    <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% block javascript %}{% endblock %}
    <!-- endproject -->

    <noscript>
      {% include 'graphics/_noscript.html' %}
    </noscript>

    {% if config.DEBUG %}
    <script>document.write('<script src="http://'
        + location.host.split(':')[0]
        + ':35729/livereload.js"></'
        + 'script>')</script>
    {% endif %}
</body>
</html>
