{% extends 'base.html' %}

{% block title %}New Web App | SF Chronicle{% endblock %}

{% if config.DEBUG %}
  {% block head %}
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="http://www.sfchronicle.com/external/css/global.sharedmain.r6.14.1.4.css">
  <link rel="stylesheet" href="http://www.sfchronicle.com/external/css/global.sharedmodules.r6.14.1.4.css">
  {% endblock %}
{% endif %}

{% block content %}
<!-- Page. -->
{% include 'headers/_topbar.html' %}
<article class='page hidden'>
  <div class='big-image'>
      <div class='inner'>
        <div class='fader'>
          <div class='text sfc-head row'>
            <!-- <a class='goto-next'>Read Next</a> -->
            <header class="small-10 small-offset-1 medium-12 medium-offset-0 columns">
              <h1 class='title'></h1>
              <h2 class='description'></h2>
              <p class='sfc-byline'></p>
            </header>
          </div>
        </div>
      </div>
  </div>
  <div class='content container'>
    <div class="row">
      <div class="small-12 medium-10 medium-offset-1 columns" id="sfc-row">
        <div class="sfc-intro yellow">
        </div>
      </div>
    </div>
    <div class="row">
      <div class='body-text body text small-12 medium-9 medium-offset-2 large-6 large-offset-4 columns'></div>
    </div>

    <aside class="breakout_content"></aside>

    <div class="row">
      <div class="body-text body text small-12 medium-9 medium-offset-2 large-6 large-offset-4 columns">
        <div class="text_secondary"></div>
      </div>
    </div>
  </div>
</article>

{% endblock %}

{% block javascript %}
<script>
$(document).ready(function () {
  // Globals defined in main.js
  $body   = $(document.body);
  $window = $(window);
  $html   = $(document.documentElement);

  App.Story.load();
  App.Map.load();
});
</script>

{% raw %}
<script type="text/x-handlebars" id="legend-tmpl">
  <h3>{{ hed }}</h3>
  <p>{{ dek }}</p>

  <ul class="button-group even-3">
    <li><a href="#" id="avgOfPrice" class="button sfc-data-button tiny">Price</a></li>
    <li><a href="#" id="locationsCount" class="button sfc-data-button tiny">Locations</a></li>
    <li><a href="#" id="reviewCount" class="button sfc-data-button tiny">Reviews</a></li>
  </ul>

  <div id="map-legend"></div>
</script>

<script type="text/x-handlebars" id="tooltip-tmpl">
  <h4>{{ name }}</h4>
  <p>2014: {{ 2014 }}</p>
  <p>2015: {{ 2015 }}</p>
</script>
{% endraw %}
{% endblock %}

<noscript>
  {% include 'graphics/_map.html' %}
  {% include 'graphics/_at-a-glance.html' %}
</noscript>
