{% extends 'base.html' %}

{% block title %}New Web App | SF Chronicle{% endblock %}

{% if config.DEBUG %}
  {% block head %}
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="http://www.sfchronicle.com/external/css/global.sharedmain.r6.14.1.4.css">
  <link rel="stylesheet" href="http://www.sfchronicle.com/external/css/global.sharedmodules.r6.14.1.4.css">
  <link rel="stylesheet" href="http://www.sfchronicle.com/external/css/global.article_global.r6.17.0.9.css">
  <link rel="stylesheet" href="http://www.sfchronicle.com/external/css/global.article_global.r6.17.0.9.css">
  {% endblock %}
{% endif %}

{% block content %}
<!-- Page. -->
{% include 'headers/_topbar.html' %}
<article class='page hidden'>
  <div class='big-image'>
      <div class='inner'>
        <div class='fader'>
          <div class='text sfc-head row'>
            <header class="small-10 small-offset-1 medium-12 medium-offset-0 columns">
              <h1 class='title'></h1>
              <h2 class='description'></h2>
              <p class='sfc-byline'></p>
            </header>
          </div>
        </div>
      </div>
  </div>
  <div class='content container'>
    <div class="row">
      <div class="small-12 medium-10 medium-offset-1 columns" id="sfc-row">
      </div>
    </div>
    <div class="row">
      <div class='text-primary body text small-12 medium-8 medium-offset-2 large-6 large-offset-3 columns'></div>
    </div>

    <aside class="breakout_content"></aside>
    <aside id='map-alt-placeholder' class='show-for-small-only'></aside>

    <div class="row">
      <div class="text-secondary body text small-12 medium-8 medium-offset-2 large-6 large-offset-3 columns">
      </div>
    </div>

    <div class='body-pic row'></div>

    <div class="row">
      <div class="text-tertiary body text small-12 medium-8 medium-offset-2 large-6 large-offset-3 columns">
      </div>
    </div>
  </div>

  <div class="row">
     <div class="button next-story pink">
       <div class="next-story">
         <div class="next-label">Next Story</div>
       </div>
       <h3></h3>
     </div>
   </div>
</article>

{% endblock %}

{% block javascript %}
<script>
$(document).ready(function () {
  // Globals defined in main.js
  $body   = $(document.body);
  $window = $(window);
  $html   = $(document.documentElement);

  App.Story.load();
  App.Map.load();
  App.Nav.load();
});
</script>

{% raw %}
<script type="text/x-handlebars" id="legend-tmpl">
  <h3>Measuring Airbnb activity in S.F. by neighborhood</h3>
  <p>By Aaron Williams and John Blanchard</p>
  <p>The Chronicle commissioned data-extraction companies <a title="Connotate Inc." href="http://www.connotate.com/#utm_source=2015June-Airbnb-SFC-article&utm_medium=PR&utm_term=none&utm_content=none&utm_campaign=2015June-Airbnb-SFC-article">Connotate Inc.</a> and <a title="Import.io" href="http://go.import.io/sfchronicle">Import.io</a> to harvest San Francisco information from the Airbnb, HomeAway and FlipKey websites on May 19. Connotate also extracted Airbnb listing data for The Chronicle on the same date in 2014, allowing for insights about year-over-year changes.</p>

  <ul class="button-group even-3">
    <li><a href="#" id="avgOfPrice" class="button sfc-data-button tiny">Price</a></li>
    <li><a href="#" id="locationsCount" class="button sfc-data-button tiny">Locations</a></li>
    <li><a href="#" id="reviewCount" class="button sfc-data-button tiny">Reviews</a></li>
  </ul>

  <blockquote>
    <h5>{{ hed }}</h5>
    {{ dek }}
  </blockquote>

  <div id="map-legend"></div>
</script>

<script type="text/x-handlebars" id="tooltip-tmpl">
    <table border="1" style="width:100%">
      <col width="160">
      <col width="90">
      <col width="90">
      <thead>
        <tr class="brd-btm">
          <td id="tb-neighborhood" class="t-left title"><h4>{{ name }}</h4></td>
          <td id="2014" class="t-right mid title"><p>2014</p></td>
          <td id="2015" class="t-right title"><p>2015</p></td>
        </tr>
      </thead>

      <tbody id="{{id}}">
        <tr class="brd-btm">
          <td>Entire home</td>
          {{#with home}}
          <td id="year-2014" class="t-right mid">{{ 2014 }}</td>
          <td id="year-2015" class="t-right">{{ 2015 }}</td>
          {{/with}}
        </tr>
        <tr class="brd-btm">
          <td>Private room</td>
          {{#with privateRoom}}
          <td id="year-2014" class="t-right mid">{{ 2014 }}</td>
          <td id="year-2015" class="t-right">{{ 2015 }}</td>
          {{/with}}
        </tr>
        <tr class="brd-btm">
          <td>Shared room</td>
          {{#with sharedRoom}}
          <td id="year-2014" class="t-right mid">{{ 2014 }}</td>
          <td id="year-2015" class="t-right">{{ 2015 }}</td>
          {{/with}}
        </tr>
        <tr>
          <td class="title-bottom">Total</td>
          {{#with total}}
          <td id="year-2014" class="total t-right mid title-bottom">{{ 2014 }}</td>
          <td id="year-2015" class="total t-right title-bottom">{{ 2015 }}</td>
          {{/with}}
        </tr>
      </tbody>
    </table>
</script>

<script type="text/x-handlebars" id="map-alt-tmpl">
  <div id="map-alt">
    <div class="row">
      <div class="small-12 columns">
        <h3>Measuring Airbnb activity in S.F. by neighborhood</h3>
        <p>By Aaron Williams and John Blanchard</p>
        <p>The Chronicle commissioned data-extraction companies <a title="Connotate Inc." href="http://www.connotate.com/#utm_source=2015June-Airbnb-SFC-article&utm_medium=PR&utm_term=none&utm_content=none&utm_campaign=2015June-Airbnb-SFC-article">Connotate Inc.</a> and <a title="Import.io" href="http://go.import.io/sfchronicle">Import.io</a> to harvest San Francisco information from the Airbnb, HomeAway and FlipKey websites on May 19. Connotate also extracted Airbnb listing data for The Chronicle on the same date in 2014, allowing for insights about year-over-year changes.</p>

        <label for="">Select a neighborhood</label>
        <select name="" id="">
          <option value=""></option>
          <option value="Bananas">Bananas</option>
          <option value="Bananas">Bananas</option>
          <option value="Bananas">Bananas</option>
          <option value="Bananas">Bananas</option>
          <option value="Bananas">Bananas</option>
        </select>

        <table border="1" style="width:100%">
          <col width="160">
          <col width="90">
          <col width="90">
          <tr class="brd-btm">
            <td class="t-left title"><h4>{{ name }}</h4></td>
            <td class="t-right mid title"><p>2014: {{ 2014 }}</p></td>
            <td class="t-right title"><p>2015: {{ 2015 }}</p></td>
          </tr>
          <tr class="brd-btm">
            <td>Houses</td>
            <td class="t-right mid">XX</td>
            <td class="t-right">XX</td>
          </tr>
          <tr class="brd-btm">
            <td>Rooms</td>
            <td class="t-right mid">XX</td>
            <td class="t-right">XX</td>
          </tr>
          <tr class="brd-btm">
            <td>Shared Rooms</td>
            <td class="t-right mid">XX</td>
            <td class="t-right">XX</td>
          </tr>
          <tr>
            <td class="title-bottom">Total</td>
            <td class="t-right mid title-bottom">XX</td>
            <td class="t-right title-bottom">789</td>
          </tr>
        </table>

      </div>
    </div>
  </div>
</script>
{% endraw %}
{% endblock %}

<noscript>
  {% include 'graphics/_map.html' %}
  {% include 'graphics/_at-a-glance.html' %}
</noscript>
