{% extends 'base.html' %}

{% block title %}New Web App | SF Chronicle{% endblock %}

{% block head %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="http://www.sfchronicle.com/external/css/global.sharedmain.r6.14.1.4.css">
<link rel="stylesheet" href="http://www.sfchronicle.com/external/css/global.sharedmodules.r6.14.1.4.css">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='AnimatedOpeningType/css/normalize.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='AnimatedOpeningType/css/component.css') }}" />
{% endblock %}

{% block content %}

<!-- Page. -->
<article class='page current'>
  <div class='big-image'>
      <div class='inner'>
        <div class='fader'>
          <div class='text sfc-head row'>
            <a class='goto-next'></a>
            <h1 class='title small-10 small-offset-1 medium-12 medium-offset-0'>For better or worse?</h1>
            <h2 class='description small-10 small-offset-1 medium-6 medium-offset-0'>How some 5,000 impromptu listings skirt the law, affect housing supply — yet find favor with travelers, hosts</h2>
            <div class='sfc-byline small-10 small-offset-1 medium-6 medium-offset-0'>
              Story by Carolyn Said  |  Design by Michael Grant  |  Development and graphics by Aaron Williams, Maegan Clawges, and John Blanchard  |  Photography by Leah Suzuki, Joaquin Palomino, and Erin Brethauer  |  Edited by Tim O’Rouke and Kristen Go
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class='content container row'>
    <div class='small-12 medium-10 medium-offset-1 columns'>
      <div class='sfc-intro yellow'>
        <div class="drop-cap component">
          <ul class="grid">
            <li class="ot-letter-left yellow-letter"><span class='B' data-letter="B">B</span></li>
          </ul>
        </div>
        <div class='text'>
          oth Airbnb and its San Francisco critics are correct. <b>&middot;</b> Most of its local listings are only occasionally rented to travelers, as the vacation-rental company says. <b>&middot;</b> However, at least 300 entire homes appear to be full-time vacation rentals, while another 400 houses have so many guest reviews that they may also be year-round hotels. Meanwhile, rivals HomeAway and FlipKey enable hundreds of properties, many of them second homes, to serve as ersatz inns.
        </div>
      </div>
      <div class='body text small-12 medium-9 medium-offset-2 large-6 large-offset-4 columns'>I love cheese, especially monterey jack pepper jack. Stinking bishop cheese and wine cheeseburger cauliflower cheese mozzarella roquefort dolcelatte emmental. Cauliflower cheese say cheese cheesy feet emmental roquefort feta who moved my cheese emmental. Cow hard cheese cauliflower cheese pecorino feta jarlsberg rubber cheese cut the cheese. Squirty cheese goat lancashire.<br><br>

      Blue castello cheesy grin port-salut. Taleggio bocconcini parmesan bavarian bergkase stilton queso cheesy feet cheese strings. Who moved my cheese macaroni cheese cheese strings fondue melted cheese camembert de normandie ricotta camembert de normandie. Parmesan goat.<br><br>

      Macaroni cheese halloumi cheese on toast. Cut the cheese cream cheese swiss port-salut emmental bavarian bergkase paneer chalk and cheese. Camembert de normandie when the cheese comes out everybody's happy dolcelatte cheese and biscuits squirty cheese monterey jack cheddar edam. Caerphilly brie paneer cauliflower cheese melted cheese dolcelatte cheese and biscuits.<br><br>

      Croque monsieur fondue cheddar. Brie port-salut cauliflower cheese boursin cheese triangles jarlsberg bavarian bergkase queso. Everyone loves cheesecake taleggio when the cheese comes out everybody's happy fondue mozzarella cheese and wine cheeseburger. Cheese and biscuits brie mozzarella cream cheese bavarian bergkase cheese and biscuits gouda cheddar. Cheese triangles feta emmental cream cheese.
      </div>
      <img class='body-pic' src='http://127.0.0.1:5000/static/images/outside-peach.jpg'>
      <h3>Both Airbnb and its San Francisco critics are correct. <b>&middot;</b> Most of its local listings are only occasionally rented to travelers, as the vacation-rental company says.</h3>
      <div class='body row'>
        <div class='aside small-8 small-offset-2 medium-3 medium-offset-0 columns'>I had to get back to you woah, Sold it dirty like Diana never clean, I got money in the courts so all my whoas are free, I see you doin‘ well baby, We prolly be out in Silicon tryna get our billions on.
        </div>
        <div class='aside-pair small-12 medium-7 medium-offset-1 large-6 columns left'>I love cheese, especially monterey jack pepper jack. Stinking bishop cheese and wine cheeseburger cauliflower cheese mozzarella roquefort dolcelatte emmental. Cauliflower cheese say cheese cheesy feet emmental roquefort feta who moved my cheese emmental. Cow hard cheese cauliflower cheese pecorino feta jarlsberg rubber cheese cut the cheese. Squirty cheese goat lancashire.<br><br>

        Blue castello cheesy grin port-salut. Taleggio bocconcini parmesan bavarian bergkase stilton queso cheesy feet cheese strings. Who moved my cheese macaroni cheese cheese strings fondue melted cheese camembert de normandie ricotta camembert de normandie. Parmesan goat.<br><br>

        Macaroni cheese halloumi cheese on toast. Cut the cheese cream cheese swiss port-salut emmental bavarian bergkase paneer chalk and cheese. Camembert de normandie when the cheese comes out everybody's happy dolcelatte cheese and biscuits squirty cheese monterey jack cheddar edam. Caerphilly brie paneer cauliflower cheese melted cheese dolcelatte cheese and biscuits.<br><br>

        Croque monsieur fondue cheddar. Brie port-salut cauliflower cheese boursin cheese triangles jarlsberg bavarian bergkase queso. Everyone loves cheesecake taleggio when the cheese comes out everybody's happy fondue mozzarella cheese and wine cheeseburger. Cheese and biscuits brie mozzarella cream cheese bavarian bergkase cheese and biscuits gouda cheddar. Cheese triangles feta emmental cream cheese.
        </div>
      </div>
      <div class='body-pic row'>
        <div class='multi-pic small-12 medium-4 columns'>
          <img src='http://127.0.0.1:5000/static/images/girl-on-bed.jpg'>
          <img class='vertical-align' src='http://127.0.0.1:5000/static/images/girl-with-frames.jpg'>
        </div>
        <div class='small-12 medium-8 columns'>
          <img src='http://127.0.0.1:5000/static/images/fire-escape.jpg'>
        </div>
      </div>
      <h3>"Both Airbnb and its San Francisco critics are correct. Most of its local listings are only occasionally rented to travelers, as the vacation-rental company says."</h3>
      <div class='body text small-12 medium-9 medium-offset-2 large-6 large-offset-4 columns'>I love cheese, especially monterey jack pepper jack. Stinking bishop cheese and wine cheeseburger cauliflower cheese mozzarella roquefort dolcelatte emmental. Cauliflower cheese say cheese cheesy feet emmental roquefort feta who moved my cheese emmental. Cow hard cheese cauliflower cheese pecorino feta jarlsberg rubber cheese cut the cheese. Squirty cheese goat lancashire.<br><br>

      Blue castello cheesy grin port-salut. Taleggio bocconcini parmesan bavarian bergkase stilton queso cheesy feet cheese strings. Who moved my cheese macaroni cheese cheese strings fondue melted cheese camembert de normandie ricotta camembert de normandie. Parmesan goat.<br><br>

      Macaroni cheese halloumi cheese on toast. Cut the cheese cream cheese swiss port-salut emmental bavarian bergkase paneer chalk and cheese. Camembert de normandie when the cheese comes out everybody's happy dolcelatte cheese and biscuits squirty cheese monterey jack cheddar edam. Caerphilly brie paneer cauliflower cheese melted cheese dolcelatte cheese and biscuits.<br><br>

      Croque monsieur fondue cheddar. Brie port-salut cauliflower cheese boursin cheese triangles jarlsberg bavarian bergkase queso. Everyone loves cheesecake taleggio when the cheese comes out everybody's happy fondue mozzarella cheese and wine cheeseburger. Cheese and biscuits brie mozzarella cream cheese bavarian bergkase cheese and biscuits gouda cheddar. Cheese triangles feta emmental cream cheese.
      </div>
    </div>
  </div>
</article>


<article class='page current'>
  <div class='big-image'>
      <div class='inner'>
        <div class='fader'>
          <div class='text sfc-head row'>
            <a class='goto-next'></a>
            <h1 class='title small-10 small-offset-1 medium-12'>For better or worse?</h1>
            <h2 class='description small-10 small-offset-1 medium-6'>How some 5,000 impromptu listings skirt the law, affect housing supply — yet find favor with travelers, hosts</h2>
            <div class='sfc-byline small-10 small-offset-1 medium-6'>
              Story by Carolyn Said  |  Design by Michael Grant  |  Development and graphics by Aaron Williams, Maegan Clawges, and John Blanchard  |  Photography by Leah Suzuki, Joaquin Palomino, and Erin Brethauer  |  Edited by Tim O’Rouke and Kristen Go
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class='content container row'>
    <div class='small-12 medium-10 medium-offset-1 columns'>
      <div class='sfc-intro blue'>
        <div class="drop-cap component">
          <ul class="grid">
            <li class="ot-letter-left blue-letter"><span class='B' data-letter="B">B</span></li>
          </ul>
        </div>
        <div class='text'>
          oth Airbnb and its San Francisco critics are correct. <b>&middot;</b> Most of its local listings are only occasionally rented to travelers, as the vacation-rental company says. <b>&middot;</b> However, at least 300 entire homes appear to be full-time vacation rentals, while another 400 houses have so many guest reviews that they may also be year-round hotels. Meanwhile, rivals HomeAway and FlipKey enable hundreds of properties, many of them second homes, to serve as ersatz inns.
        </div>
      </div>
      <div class='body text small-12 medium-9 medium-offset-2 large-6 large-offset-4 columns'>I love cheese, especially monterey jack pepper jack. Stinking bishop cheese and wine cheeseburger cauliflower cheese mozzarella roquefort dolcelatte emmental. Cauliflower cheese say cheese cheesy feet emmental roquefort feta who moved my cheese emmental. Cow hard cheese cauliflower cheese pecorino feta jarlsberg rubber cheese cut the cheese. Squirty cheese goat lancashire.<br><br>

      Blue castello cheesy grin port-salut. Taleggio bocconcini parmesan bavarian bergkase stilton queso cheesy feet cheese strings. Who moved my cheese macaroni cheese cheese strings fondue melted cheese camembert de normandie ricotta camembert de normandie. Parmesan goat.<br><br>

      Macaroni cheese halloumi cheese on toast. Cut the cheese cream cheese swiss port-salut emmental bavarian bergkase paneer chalk and cheese. Camembert de normandie when the cheese comes out everybody's happy dolcelatte cheese and biscuits squirty cheese monterey jack cheddar edam. Caerphilly brie paneer cauliflower cheese melted cheese dolcelatte cheese and biscuits.<br><br>

      Croque monsieur fondue cheddar. Brie port-salut cauliflower cheese boursin cheese triangles jarlsberg bavarian bergkase queso. Everyone loves cheesecake taleggio when the cheese comes out everybody's happy fondue mozzarella cheese and wine cheeseburger. Cheese and biscuits brie mozzarella cream cheese bavarian bergkase cheese and biscuits gouda cheddar. Cheese triangles feta emmental cream cheese.
      </div>
      <img class='body-pic map' src='http://127.0.0.1:5000/static/images/map-screenshot.png'>
      <h3>Both Airbnb and its San Francisco critics are correct. <b>&middot;</b> Most of its local listings are only occasionally rented to travelers, as the vacation-rental company says.</h3>
      <div class='body row'>
        <div class='aside small-8 small-offset-2 medium-3 medium-offset-0 columns'>I had to get back to you woah, Sold it dirty like Diana never clean, I got money in the courts so all my whoas are free, I see you doin‘ well baby, We prolly be out in Silicon tryna get our billions on.
        </div>
        <div class='aside-pair small-12 medium-7 medium-offset-1 large-6 columns left'>I love cheese, especially monterey jack pepper jack. Stinking bishop cheese and wine cheeseburger cauliflower cheese mozzarella roquefort dolcelatte emmental. Cauliflower cheese say cheese cheesy feet emmental roquefort feta who moved my cheese emmental. Cow hard cheese cauliflower cheese pecorino feta jarlsberg rubber cheese cut the cheese. Squirty cheese goat lancashire.<br><br>

        Blue castello cheesy grin port-salut. Taleggio bocconcini parmesan bavarian bergkase stilton queso cheesy feet cheese strings. Who moved my cheese macaroni cheese cheese strings fondue melted cheese camembert de normandie ricotta camembert de normandie. Parmesan goat.<br><br>

        Macaroni cheese halloumi cheese on toast. Cut the cheese cream cheese swiss port-salut emmental bavarian bergkase paneer chalk and cheese. Camembert de normandie when the cheese comes out everybody's happy dolcelatte cheese and biscuits squirty cheese monterey jack cheddar edam. Caerphilly brie paneer cauliflower cheese melted cheese dolcelatte cheese and biscuits.<br><br>

        Croque monsieur fondue cheddar. Brie port-salut cauliflower cheese boursin cheese triangles jarlsberg bavarian bergkase queso. Everyone loves cheesecake taleggio when the cheese comes out everybody's happy fondue mozzarella cheese and wine cheeseburger. Cheese and biscuits brie mozzarella cream cheese bavarian bergkase cheese and biscuits gouda cheddar. Cheese triangles feta emmental cream cheese.
        </div>
      </div>
      <div class='body-pic row'>
        <div class='multi-pic small-12 medium-4 columns'>
          <img src='http://127.0.0.1:5000/static/images/girl-on-bed.jpg'>
          <img class='vertical-align' src='http://127.0.0.1:5000/static/images/girl-with-frames.jpg'>
        </div>
        <div class='small-12 medium-8 columns'>
          <img src='http://127.0.0.1:5000/static/images/fire-escape.jpg'>
        </div>
      </div>
      <h3>"Both Airbnb and its San Francisco critics are correct. Most of its local listings are only occasionally rented to travelers, as the vacation-rental company says."</h3>
      <div class='body text small-12 medium-9 medium-offset-2 large-6 large-offset-4 columns'>I love cheese, especially monterey jack pepper jack. Stinking bishop cheese and wine cheeseburger cauliflower cheese mozzarella roquefort dolcelatte emmental. Cauliflower cheese say cheese cheesy feet emmental roquefort feta who moved my cheese emmental. Cow hard cheese cauliflower cheese pecorino feta jarlsberg rubber cheese cut the cheese. Squirty cheese goat lancashire.<br><br>

      Blue castello cheesy grin port-salut. Taleggio bocconcini parmesan bavarian bergkase stilton queso cheesy feet cheese strings. Who moved my cheese macaroni cheese cheese strings fondue melted cheese camembert de normandie ricotta camembert de normandie. Parmesan goat.<br><br>

      Macaroni cheese halloumi cheese on toast. Cut the cheese cream cheese swiss port-salut emmental bavarian bergkase paneer chalk and cheese. Camembert de normandie when the cheese comes out everybody's happy dolcelatte cheese and biscuits squirty cheese monterey jack cheddar edam. Caerphilly brie paneer cauliflower cheese melted cheese dolcelatte cheese and biscuits.<br><br>

      Croque monsieur fondue cheddar. Brie port-salut cauliflower cheese boursin cheese triangles jarlsberg bavarian bergkase queso. Everyone loves cheesecake taleggio when the cheese comes out everybody's happy fondue mozzarella cheese and wine cheeseburger. Cheese and biscuits brie mozzarella cream cheese bavarian bergkase cheese and biscuits gouda cheddar. Cheese triangles feta emmental cream cheese.
      </div>
    </div>     
  </div>
</article>


<article class='page current'>
  <div class='big-image'>
      <div class='inner'>
        <div class='fader'>
          <div class='text sfc-head row'>
            <a class='goto-next'></a>
            <h1 class='title small-10 small-offset-1 medium-12'>For better or worse?</h1>
            <h2 class='description small-10 small-offset-1 medium-6'>How some 5,000 impromptu listings skirt the law, affect housing supply — yet find favor with travelers, hosts</h2>
            <div class='sfc-byline small-10 small-offset-1 medium-6'>
              Story by Carolyn Said  |  Design by Michael Grant  |  Development and graphics by Aaron Williams, Maegan Clawges, and John Blanchard  |  Photography by Leah Suzuki, Joaquin Palomino, and Erin Brethauer  |  Edited by Tim O’Rouke and Kristen Go
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class='content container row'>
    <div class='small-12 medium-10 medium-offset-1 columns'>
      <div class='sfc-intro pink'>
        <div class="drop-cap component">
          <ul class="grid">
            <li class="ot-letter-left pink-letter"><span class='B' data-letter="B">B</span></li>
          </ul>
        </div>
        <div class='text'>
          oth Airbnb and its San Francisco critics are correct. <b>&middot;</b> Most of its local listings are only occasionally rented to travelers, as the vacation-rental company says. <b>&middot;</b> However, at least 300 entire homes appear to be full-time vacation rentals, while another 400 houses have so many guest reviews that they may also be year-round hotels. Meanwhile, rivals HomeAway and FlipKey enable hundreds of properties, many of them second homes, to serve as ersatz inns.
        </div>
      </div>
      <div class='body text small-12 medium-9 medium-offset-2 large-6 large-offset-4 columns'>I love cheese, especially monterey jack pepper jack. Stinking bishop cheese and wine cheeseburger cauliflower cheese mozzarella roquefort dolcelatte emmental. Cauliflower cheese say cheese cheesy feet emmental roquefort feta who moved my cheese emmental. Cow hard cheese cauliflower cheese pecorino feta jarlsberg rubber cheese cut the cheese. Squirty cheese goat lancashire.<br><br>

      Blue castello cheesy grin port-salut. Taleggio bocconcini parmesan bavarian bergkase stilton queso cheesy feet cheese strings. Who moved my cheese macaroni cheese cheese strings fondue melted cheese camembert de normandie ricotta camembert de normandie. Parmesan goat.<br><br>

      Macaroni cheese halloumi cheese on toast. Cut the cheese cream cheese swiss port-salut emmental bavarian bergkase paneer chalk and cheese. Camembert de normandie when the cheese comes out everybody's happy dolcelatte cheese and biscuits squirty cheese monterey jack cheddar edam. Caerphilly brie paneer cauliflower cheese melted cheese dolcelatte cheese and biscuits.<br><br>

      Croque monsieur fondue cheddar. Brie port-salut cauliflower cheese boursin cheese triangles jarlsberg bavarian bergkase queso. Everyone loves cheesecake taleggio when the cheese comes out everybody's happy fondue mozzarella cheese and wine cheeseburger. Cheese and biscuits brie mozzarella cream cheese bavarian bergkase cheese and biscuits gouda cheddar. Cheese triangles feta emmental cream cheese.
      </div>
      <img class='body-pic' src='http://127.0.0.1:5000/static/images/outside-peach.jpg'>
      <h3>Both Airbnb and its San Francisco critics are correct. <b>&middot;</b> Most of its local listings are only occasionally rented to travelers, as the vacation-rental company says.</h3>
      <div class='body row'>
        <div class='aside small-8 small-offset-2 medium-3 medium-offset-0 columns'>I had to get back to you woah, Sold it dirty like Diana never clean, I got money in the courts so all my whoas are free, I see you doin‘ well baby, We prolly be out in Silicon tryna get our billions on.
        </div>
        <div class='aside-pair small-12 medium-7 medium-offset-1 large-6 columns left'>I love cheese, especially monterey jack pepper jack. Stinking bishop cheese and wine cheeseburger cauliflower cheese mozzarella roquefort dolcelatte emmental. Cauliflower cheese say cheese cheesy feet emmental roquefort feta who moved my cheese emmental. Cow hard cheese cauliflower cheese pecorino feta jarlsberg rubber cheese cut the cheese. Squirty cheese goat lancashire.<br><br>

        Blue castello cheesy grin port-salut. Taleggio bocconcini parmesan bavarian bergkase stilton queso cheesy feet cheese strings. Who moved my cheese macaroni cheese cheese strings fondue melted cheese camembert de normandie ricotta camembert de normandie. Parmesan goat.<br><br>

        Macaroni cheese halloumi cheese on toast. Cut the cheese cream cheese swiss port-salut emmental bavarian bergkase paneer chalk and cheese. Camembert de normandie when the cheese comes out everybody's happy dolcelatte cheese and biscuits squirty cheese monterey jack cheddar edam. Caerphilly brie paneer cauliflower cheese melted cheese dolcelatte cheese and biscuits.<br><br>

        Croque monsieur fondue cheddar. Brie port-salut cauliflower cheese boursin cheese triangles jarlsberg bavarian bergkase queso. Everyone loves cheesecake taleggio when the cheese comes out everybody's happy fondue mozzarella cheese and wine cheeseburger. Cheese and biscuits brie mozzarella cream cheese bavarian bergkase cheese and biscuits gouda cheddar. Cheese triangles feta emmental cream cheese.
        </div>
      </div>
      <div class='body-pic row'>
        <div class='multi-pic small-12 medium-4 columns'>
          <img src='http://127.0.0.1:5000/static/images/girl-on-bed.jpg'>
          <img class='vertical-align' src='http://127.0.0.1:5000/static/images/girl-with-frames.jpg'>
        </div>
        <div class='small-12 medium-8 columns'>
          <img src='http://127.0.0.1:5000/static/images/fire-escape.jpg'>
        </div>
      </div>
      <h3>"Both Airbnb and its San Francisco critics are correct. Most of its local listings are only occasionally rented to travelers, as the vacation-rental company says."</h3>
      <div class='body text small-12 medium-9 medium-offset-2 large-6 large-offset-4 columns'>I love cheese, especially monterey jack pepper jack. Stinking bishop cheese and wine cheeseburger cauliflower cheese mozzarella roquefort dolcelatte emmental. Cauliflower cheese say cheese cheesy feet emmental roquefort feta who moved my cheese emmental. Cow hard cheese cauliflower cheese pecorino feta jarlsberg rubber cheese cut the cheese. Squirty cheese goat lancashire.<br><br>

      Blue castello cheesy grin port-salut. Taleggio bocconcini parmesan bavarian bergkase stilton queso cheesy feet cheese strings. Who moved my cheese macaroni cheese cheese strings fondue melted cheese camembert de normandie ricotta camembert de normandie. Parmesan goat.<br><br>

      Macaroni cheese halloumi cheese on toast. Cut the cheese cream cheese swiss port-salut emmental bavarian bergkase paneer chalk and cheese. Camembert de normandie when the cheese comes out everybody's happy dolcelatte cheese and biscuits squirty cheese monterey jack cheddar edam. Caerphilly brie paneer cauliflower cheese melted cheese dolcelatte cheese and biscuits.<br><br>

      Croque monsieur fondue cheddar. Brie port-salut cauliflower cheese boursin cheese triangles jarlsberg bavarian bergkase queso. Everyone loves cheesecake taleggio when the cheese comes out everybody's happy fondue mozzarella cheese and wine cheeseburger. Cheese and biscuits brie mozzarella cream cheese bavarian bergkase cheese and biscuits gouda cheddar. Cheese triangles feta emmental cream cheese.
      </div>
    </div>
      

  </div>
</article>
{% endblock %}

{% block javascript %}
<script>
$(document).ready(function () {
  // Globals defined in main.js
  $body   = $(document.body);
  $window = $(window);
  $html   = $(document.documentElement);
  var width  = $( window ).width();
  console.log(width);
  $('.map').css("width", width);

});
</script>
{% endblock %}
