/* #map {
  width: 100%;
  height: 500px;
  //overflow: hidden;
} */

.svg-container {
    display: block;
    position: relative;
    width: 100%;
    //max-width: 1000px;
    padding-bottom: 48%;// 75%; /* aspect ratio */
    margin: 0 auto;
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.legend {
  position: absolute;
  right: 0;
  //background-color: rgba(255, 255, 255, 0.8);
  height: 100px;
  width: 45%;

  h2, p {
    color: white;
  }

  p {
    margin-left: 5px !important;
    margin-right: 5px !important;
  }
}

path {
  fill: none;
  stroke: #000;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.neighborhood {
  fill: orange;
  fill-opacity: 0.5;

  &:hover {
    fill: red;
    cursor: pointer;
  }
}
.park, .nature_reserve, .wood, .protected-land { stroke: none; }
.ocean { fill: #EEFBFF; stroke: none; }
.major_road { stroke: #776; }
.minor_road { stroke: #ccb; }
.highway { stroke: #f39; stroke-width: 1.5px; }
.rail { stroke: #7de; }
.buildings path { stroke: none; fill: black; }
