#map {
  clear: both;
}

.svg-container {
    display: block;
    position: relative;
    width: 100%;
    //padding-bottom: 29%;// 75%; /* aspect ratio */
    margin: 0 auto;
    vertical-align: top;

    svg {
      border-top: 1px solid #cecece;
      border-bottom: 1px solid #cecece;
    }
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

.map-tooltip {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.25);;
  border: 1px solid #A0A0A0;
  display: block;
  padding: 10px;
  margin: 20px;
  line-height: 1.4em;
  font-family: 'Antenna';
}

.t-right {
  text-align: right;
}

.t-left.title h4 {
  font-family: 'AntennaBlack' !important;
  text-transform: capitalize;
  font-size: 1.3em;
}

.title {
  font-family: 'AntennaBlack';
}

.title-bottom {
  font-family: 'AntennaBlack';
}

.mid {
  border-right: 1px solid #A0A0A0;
  padding-right: 20px;
  border-left: 1px solid #A0A0A0;
  padding-left: 20px;
}

.brd-btm {
  border-bottom: 1px solid #A0A0A0;
}

table, th, td {
    border: 0px solid black;
    font-size: .9em;
}

.legend {
  margin-top: 15%;

  h3 {
    font-family: 'FarnhamBold', 'Comic Sans';
    color: #4F4F4F;
    line-height: 1.1em;
  }

  p {
    font-family: 'Antenna';
    color: #4F4F4F;
    font-size: .87em;
  }

  p:first-of-type {
    text-transform: uppercase !important;
    font-family: 'AntennaBlack';
    font-size: .7em;
    color: #008CBA;
  }

  .button-group {
    .sfc-data-button {
      border: 1px solid #CACBCC;
      background-color: #ffffff;
      color: #222;

      &.active, &:hover, &:focus {
        background-color: #dadada;
      }
    }
  }
}

#map-alt {
  background-color: #F7AB03;
  padding: 10px;

  h3 {
    font-family: 'FarnhamBold', 'Comic Sans';
    color: white;
  }

  p {
    font-family: 'Antenna';
    color: white;
  }
}

#map-legend {
  .inline-list {
    margin: 0 auto;

    .key {
      font-family: 'Antenna';
      border-top-width: 15px;
      border-top-style: solid;
      font-size: .75em;
      padding-left: 0;
      padding-right: 0;
      margin-left: 10px;
    }
  }
}

path {
  fill: none;
  stroke: #e0e0e0;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.neighborhood {
  fill: #FDB605;
  fill-opacity: 0.6;
  stroke: #C38701;

  &:hover, &.active {
    fill-opacity: 0.9;
    cursor: pointer;
  }

  &.q0-8 { stroke: white; fill:rgb(255,255,204); transition-property: fill; transition-duration: 2s; }
  &.q1-8 { stroke: white; fill:rgb(255,237,160); transition-property: fill; transition-duration: 2s; }
  &.q2-8 { stroke: white; fill:rgb(254,217,118); transition-property: fill; transition-duration: 2s; }
  &.q3-8 { stroke: white; fill:rgb(254,178,76); transition-property: fill; transition-duration: 2s; }
  &.q4-8 { stroke: white; fill:rgb(253,141,60); transition-property: fill; transition-duration: 2s; }
  &.q5-8 { stroke: white; fill:rgb(252,78,42); transition-property: fill; transition-duration: 2s; }
  &.q6-8 { stroke: white; fill:rgb(227,26,28); transition-property: fill; transition-duration: 2s; }
  &.q7-8 { stroke: white; fill:rgb(177,0,38); transition-property: fill; transition-duration: 2s; }
}

#map-credits {
  display: inline-block;
  position: absolute;
  bottom: -30px;
  right: 8px;
  background-color: white;
  font-family: Helvetica;
  font-size: 10px;
  padding: 5px;
}

// #japantown {
//   fill-opacity: 0;
//   &:hover, &.active {
//     fill-opacity: 0.9 !important;
//   }
// }

//.park, .nature_reserve, .wood, .protected-land { fill: #C7EAAA; stroke: none; }
.ocean { fill: #F2F3F4; stroke: #F2F3F4; }
.major_road {  }
.minor_road {  }
.highway { stroke: #CFCFCF; stroke-width: 1.5px; }
.rail {  }
.buildings path { stroke: none;  }
