.sfc-top-bar {
  background-color: white;
  opacity: .9;
  h1 > a { color: #222 !important; }

  .top-bar-section {
    ul {
      li {
        &:not(.has-form) {
          a:not(.button) {
            background: white;
            color: #222;

            &:hover {
              background: darken(white, 10%);
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
