@font-face {
	font-family:"AntennaLight";
	src:url("/static/fonts/Antenna/Antenna-Light.otf") format("opentype");
	font-style:normal;
	font-weight:normal}

@font-face {
	font-family:"Antenna";
	src:url("/static/fonts/Antenna/Antenna-Regular.otf") format("opentype");
	font-style:normal;
	font-weight:normal}

@font-face {
	font-family:"AntennaBlack";
	src:url("/static/fonts/Antenna/Antenna-Black.otf") format("opentype");
	font-style:normal;
	font-weight:normal}

@font-face {
	font-family:"Farnham";
	src:url("/static/fonts/Farnham/FarnhamText-Regular.otf") format("opentype");
	font-style:normal;
	font-weight:normal}

@font-face {
	font-family:"FarnhamBold";
	src:url("/static/fonts/Farnham/FarnhamText-Bold.otf") format("opentype");
	font-style:normal;
	font-weight:normal}


/* override master SFC style */
html {
	background-color: #fff;
}

article.page .left {
	float: left;
}

/* full width title image */
article.page.current {
	.big-image {
	}
}

article.next .sfc-head h1 {
	margin-bottom: 0;
	margin-top: 60px;
	font-family: "AntennaBlack";
	font-size: 60px;
	line-height: 1.2em;
	text-align: left;
	color: #fff;
}

article.next .sfc-head h2 {
	margin-top: 10px;
	width: 60%;
	font-family: "Antenna";
	font-size: 21px;
	text-align: left;
	color: #fff;
}

article.next .sfc-head p {
	margin-top: 40px;
	padding-top: 10px;
	width: 60%;
	border-top: 1px solid #fff;
	font-family: "Antenna";
	font-size: 12px;
	color: #fff;
}

/* colored box inset with hinged drop-cap and intro text */
article.page .sfc-intro {
	margin-top: 80px;
}


$yellow: #F7AB03;
$blue: #0DB5A5;
$pink: #ED484E;
$purple: lighten(#7b0051, 5%);
$green: #75CB5A;

/* background color of intro box */
.yellow {
	background-color: $yellow;
}
.blue {
	background-color: $blue;
}
.pink {
	background-color: $pink;
}

.purple {
	background-color: $purple;
}

.green {
	background-color: $green;
}

article.page .yellow {
	@extend .yellow;
}

article.page .blue {
	@extend .blue;
}

article.page .pink {
	@extend .pink;
}

article.page .purple {
	@extend .purple;
}

article.page .green {
	@extend .green;
}

article.page .sfc-intro .drop-cap {
	float: left;
	height: 140px;
}

article.page .sfc-intro .drop-cap .grid li {
	padding-left: 30px;
	padding-right: 15px;
	line-height: 1.4em;
}

article.page .sfc-intro .drop-cap .grid li .B {
	font-family: "AntennaBlack";
}

article.page .sfc-intro .text {
	padding: 50px 50px 50px 50px;
	font-family: "Antenna";
	font-size: 23px;
	line-height: 1.6em;
	color: #ffffff;
}

article.page .sfc-intro b {
	font-family: "Farnham";
}

/* main story styles */
article.page .body {
	margin-top: 40px;
	font-family: "Farnham";
}

article.page h5 {
	margin-bottom: 30px;
}

article.page .side-content {
	float: right;
	width: 70%;
	margin-left: 20px;
	margin-right: -30%;
}

article.page .breakout_content {
	margin-bottom: 140px;
	}

article.page .text-secondary,
article.page .text-tertiary, {
	margin-bottom: 60px;
}

article.page .photo-header {
	margin-left: 0.9375rem;
  	margin-right: 0.9375rem;
  	padding: 25px
}

article.page .side-photo {
	margin-left: 0.9375rem;
  	margin-right: 0.9375rem;
  	padding: 25px;
  	padding-bottom: 30px;
  	margin-top: 0 !important;
}

/* caption for photos */
article.page .photo-header {
	margin-top: 22px;
  font-family: "Antenna";
  font-size: 20px;
  color: #fff;
}

/* mini paragraph on left side */
article.page .aside {
	padding: 0;
	padding-top: 30px;
	margin-left: 15px !important;
	border-top: 1px solid #333333;
	font-family: "Antenna";
	font-size: 12px;
}

/* for photo alignment */
article.page .vertical-align {
	margin-top: 5%;
}

/* grid */
.grid {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	width: 100%;
}

.grid li {
	position: relative;
	float: left;
	font-size: 9em;
	line-height: 1.5;
	max-height: 290px;
	text-align: center;
	width: 16.6666667%;
	/* Fallback */
	width: -webkit-calc(100% / 6);
	width: calc(100% / 6);
}

/****** DROP-CAP STYLES FROM ANIMATED OPENING TYPE ******/

/* Common styles for the letters */
.grid li span {
	display: inline-block;
	font-weight: 900;
	line-height: 1;
	position: relative;
	color: hsla(0, 0%, 0%, 0.6);
	-webkit-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-perspective: 550px;
	-ms-perspective: 550px;
	perspective: 550px;
	z-index: 1;
	font-family: "AntennaBlack", Helvetica, Arial, sans-serif;
}

.grid li span:before,
.grid li span:after {
	position: absolute;
	content: attr(data-letter);
	line-height: inherit;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.grid li span:before {
	text-shadow: none;
	color: hsla(0, 0%, 0%, 0.12);
}

/* Colors */

.yellow-letter span { text-shadow: 1px 4px 6px $yellow, 0 0 0 hsla(0, 0%, 0%, 0.3), 1px 4px 6px $yellow; } /* drop shadow in background */
.yellow-letter span:after { color: $yellow; } /* letter color when 'shut' */
.yellow-letter:hover span:after { color: #F9C34B; } /* letter color when 'open' FF5A5F, FFBB12 */

.blue-letter span { text-shadow: 1px 4px 6px $blue, 0 0 0 hsla(0, 0%, 0%, 0.3), 1px 4px 6px $blue; } /* drop shadow in background */
.blue-letter span:after { color: $blue; } /* letter color when 'shut' */
.blue-letter:hover span:after { color: #5DD3C2; } /* letter color when 'open' FF5A5F, FFBB12 */

.pink-letter span { text-shadow: 1px 4px 6px $red, 0 0 0 hsla(0, 0%, 0%, 0.3), 1px 4px 6px $red; } /* drop shadow in background */
.pink-letter span:after { color: $red; } /* letter color when 'shut' */
.pink-letter:hover span:after { color: #F7696F; } /* letter color when 'open' FF5A5F, FFBB12 */

.purple-letter span { text-shadow: 1px 4px 6px $purple, 0 0 0 hsla(0, 0%, 0%, 0.3), 1px 4px 6px $purple; } /* drop shadow in background */
.purple-letter span:after { color: $purple; } /* letter color when 'shut' */
.purple-letter:hover span:after { color: #B24D7B; } /* letter color when 'open' FF5A5F, FFBB12 */

.green-letter span { text-shadow: 1px 4px 6px $green, 0 0 0 hsla(0, 0%, 0%, 0.3), 1px 4px 6px $green; } /* drop shadow in background */
.green-letter span:after { color: $green; } /* letter color when 'shut' */
.green-letter:hover span:after { color: #8ce071; } /* letter color when 'open' FF5A5F, FFBB12 */


/* Left */
.ot-letter-left span:before,
.ot-letter-left span:after {
	-webkit-transform-origin: 0 50%;
	-ms-transform-origin: 0 50%;
	transform-origin: 0 50%;
}

.ot-letter-left span:before {
	-webkit-transform: scale(1.08,1) skew(0deg,1deg);
	-ms-transform: scale(1.08,1) skew(0deg,1deg);
	transform: scale(1.08,1) skew(0deg,1deg);
}

.ot-letter-left span:after {
	text-shadow: -1px 0px 0px hsla(360, 100%, 100%, 0.1), 3px 0px 1px hsla(0, 0%, 0%, 0.4);
	-webkit-transform: rotateY(-15deg);
	-ms-transform: rotateY(-15deg);
	transform: rotateY(-15deg);
}

.ot-letter-left:hover span:before {
	-webkit-transform: scale(0.85,1) skew(0deg,20deg);
	-ms-transform: scale(0.85,1) skew(0deg,20deg);
	transform: scale(0.85,1) skew(0deg,20deg);
}

.ot-letter-left:hover span:after {
	-webkit-transform: rotateY(-40deg);
	-ms-transform: rotateY(-40deg);
	transform: rotateY(-40deg);
}

@media screen and (max-width: 640px) {
	article.page .sfc-head {
		padding-top: 0px;
	}
	article.page .body-pic .multi-pic img {
		width: 48.5%;
		margin-right:1%;
	}
	article.page .aside {
		margin-left: 0 !important;
	}
	/* style for main text with aside on small screen */
	article.page .aside-pair {
		margin-top: 40px;
	}
}
