$header: 'AntennaBlack', sans-serif;
$sans-serif: "AntennaMedium", sans-serif;
$serif: "FarnhamText", Georgia, serif;
$red: #B71C1C;

body {
  font-family: $serif;
}

article {
  &.page {
    overflow: hidden; /* hack to prevent map for busting margins */

    h1, h2, h3, h4, h5, h6 {
      text-align: center;
    }

    p {
      margin-left: 20%;
      margin-right: 20%;
    }

    .big-image {
      height: 500px;
      background-size: cover;
    }

    /* States */
    &.hidden, &.content-hidden .content {
      display: none;
    }
    &.current {
      .big-image {
        .title, .description {
          color: white;
        }
      }
    }
  }
  &.fade-up-out {
    opacity: 0;
    transform: scale(0.8) translate3d(0, -10%, 0);
    transition: all 450ms cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  &.easing-upward {
    transition: all 450ms cubic-bezier(0.165, 0.84, 0.44, 1);
  }
}
