@font-face {
	font-family:"AntennaLight";
	src:url("/static/fonts/Antenna/Antenna-Light.otf") format("opentype");
	font-style:normal;
	font-weight:normal}

@font-face {
	font-family:"Antenna";
	src:url("/static/fonts/Antenna/Antenna-Regular.otf") format("opentype");
	font-style:normal;
	font-weight:normal}

@font-face {
	font-family:"AntennaBlack";
	src:url("/static/fonts/Antenna/Antenna-Black.otf") format("opentype");
	font-style:normal;
	font-weight:normal}

@font-face {
	font-family:"Farnham";
	src:url("/static/fonts/Farnham/FarnhamText-Regular.otf") format("opentype");
	font-style:normal;
	font-weight:normal}


/* override master SFC style */
html {
	background-color: #fff;
}

article.page .left {
	float: left;
}

/* full width title image */
article.page.current {
	.big-image {
	}

	.sfc-head {
		padding-top: 460px;

		.title {
			margin-bottom: 0;
			font-family: "AntennaBlack";
			font-size: 60px;
			line-height: 1.2em;
			text-align: left;
		}

		.description {
			margin-top: 10px;
			font-family: "Antenna";
			font-size: 21px;
			text-align: left;
		}

		.sfc-byline {
			margin-top: 40px;
			padding-top: 10px;
			border-top: 1px solid #fff;
			font-family: "Antenna";
			font-size: 12px;
			color: #fff;
		}

	}

}

/* colored box inset with hinged drop-cap and intro text */
article.page .sfc-intro {
	margin-top: 80px;
}

/* background color of intro box */
article.page .yellow {
	background-color: #F7AB03;
}

article.page .blue {
	background-color: #0DB5A5;
}

article.page .pink {
	background-color: #ED484E;
}

article.page .sfc-intro .drop-cap {
	float: left;
	height: 140px;
}

article.page .sfc-intro .drop-cap .grid li {
	padding-left: 30px;
	padding-right: 15px;
	line-height: 1.4em;
}

article.page .sfc-intro .drop-cap .grid li .B {
	font-family: "AntennaBlack";
}

article.page .sfc-intro .text {
	padding: 40px 20px 40px 40px;
	font-family: "Antenna";
	font-size: 21px;
	color: #ffffff;
}

/* main story styles */
article.page .body {
	margin-top: 50px;
	font-family: "Farnham";
}

article.page .body-pic {
	margin-top: 60px;
}

/* caption for photos */
article.page h3 {
	margin-top: 15px;
	font-family: "AntennaLight";
	font-size: 18px;
	color: #666;
}

/* mini paragraph on left side */
article.page .aside {
	padding: 0;
	padding-top: 30px;
	margin-left: 15px !important;
	border-top: 1px solid #333333;
	font-family: "Antenna";
	font-size: 12px;
}

/* for photo alignment */
article.page .vertical-align {
	margin-top: 5%;
}

/* grid */
.grid {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	width: 100%;
}

.grid li {
	position: relative;
	float: left;
	font-size: 9em;
	line-height: 1.5;
	max-height: 290px;
	text-align: center;
	width: 16.6666667%;
	/* Fallback */
	width: -webkit-calc(100% / 6);
	width: calc(100% / 6);
}

/****** DROP-CAP STYLES FROM ANIMATED OPENING TYPE ******/

/* Common styles for the letters */
.grid li span {
	display: inline-block;
	font-weight: 900;
	line-height: 1;
	position: relative;
	color: hsla(0, 0%, 0%, 0.6);
	-webkit-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-perspective: 550px;
	-ms-perspective: 550px;
	perspective: 550px;
	z-index: 1;
}

.grid li span:before,
.grid li span:after {
	position: absolute;
	content: attr(data-letter);
	line-height: inherit;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.grid li span:before {
	text-shadow: none;
	color: hsla(0, 0%, 0%, 0.12);
}

/* Colors */

.yellow-letter span { text-shadow: 1px 4px 6px #F7AB03, 0 0 0 hsla(0, 0%, 0%, 0.3), 1px 4px 6px #F7AB03; } /* drop shadow in background */
.yellow-letter span:after { color: #F7AB03; } /* letter color when 'shut' */
.yellow-letter:hover span:after { color: #F9C34B; } /* letter color when 'open' FF5A5F, FFBB12 */

.blue-letter span { text-shadow: 1px 4px 6px #0DB5A5, 0 0 0 hsla(0, 0%, 0%, 0.3), 1px 4px 6px #0DB5A5; } /* drop shadow in background */
.blue-letter span:after { color: #0DB5A5; } /* letter color when 'shut' */
.blue-letter:hover span:after { color: #5DD3C2; } /* letter color when 'open' FF5A5F, FFBB12 */

.pink-letter span { text-shadow: 1px 4px 6px #ED484E, 0 0 0 hsla(0, 0%, 0%, 0.3), 1px 4px 6px #ED484E; } /* drop shadow in background */
.pink-letter span:after { color: #ED484E; } /* letter color when 'shut' */
.pink-letter:hover span:after { color: #F7696F; } /* letter color when 'open' FF5A5F, FFBB12 */


/* Left */
.ot-letter-left span:before,
.ot-letter-left span:after {
	-webkit-transform-origin: 0 50%;
	-ms-transform-origin: 0 50%;
	transform-origin: 0 50%;
}

.ot-letter-left span:before {
	-webkit-transform: scale(1.08,1) skew(0deg,1deg);
	-ms-transform: scale(1.08,1) skew(0deg,1deg);
	transform: scale(1.08,1) skew(0deg,1deg);
}

.ot-letter-left span:after {
	text-shadow: -1px 0px 0px hsla(360, 100%, 100%, 0.1), 3px 0px 1px hsla(0, 0%, 0%, 0.4);
	-webkit-transform: rotateY(-15deg);
	-ms-transform: rotateY(-15deg);
	transform: rotateY(-15deg);
}

.ot-letter-left:hover span:before {
	-webkit-transform: scale(0.85,1) skew(0deg,20deg);
	-ms-transform: scale(0.85,1) skew(0deg,20deg);
	transform: scale(0.85,1) skew(0deg,20deg);
}

.ot-letter-left:hover span:after {
	-webkit-transform: rotateY(-40deg);
	-ms-transform: rotateY(-40deg);
	transform: rotateY(-40deg);
}

@media screen and (max-width: 640px) {
	article.page .sfc-head {
		padding-top: 0px;
	}
	article.page .body-pic .multi-pic img {
		width: 48.5%;
		margin-right:1%;
	}
	article.page .aside {
		margin-left: 0 !important;
	}
	/* style for main text with aside on small screen */
	article.page .aside-pair {
		margin-top: 40px;
	}
}
